<a href="https://colab.research.google.com/github/mazdah/colab_practice/blob/main/%ED%8C%A8%EC%8A%A4%ED%8A%B8%EC%BA%A0%ED%8D%BC%EC%8A%A4_%EC%A7%81%EC%9E%A5%EC%9D%B8%EC%9D%84_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
### ▶︎ 통계값
---

In [ ]:
import pandas as pd

#df = pd.read_csv('./korean-idol.csv')
#df

In [ ]:
df.describe()

                키       브랜드평판지수
count   13.000000  1.500000e+01
mean   175.792308  5.655856e+06
std      5.820576  2.539068e+06
min    162.100000  2.925442e+06
25%    174.000000  3.712344e+06
50%    177.000000  4.668615e+06
75%    179.200000  7.862214e+06
max    183.000000  1.052326e+07

In [ ]:
df["키"].min()

162.1

In [ ]:
df["키"].max()

183.0

In [ ]:
df["키"].sum()

2285.3

In [ ]:
df["키"].mean()

175.7923076923077

In [ ]:
import numpy as np

---
- 분산과 표준편차 : 데이터가 평균으로부터 얼마나 떨어져있는지를 나타내는 지표
- 분산 : (데이터 - 평균) ** 2 를 모두 합한 값의 평균
- 표준편차 : 분산의 루트
- 주로 표준편차를 사용한다.
---

In [ ]:
data_01 = np.array([1, 3, 5, 7, 9])
data_02 = np.array([3, 4, 5, 6, 7])

In [ ]:
data_01.mean()

5.0

In [ ]:
data_02.mean()

5.0

In [ ]:
data_01.var(), data_02.var()

(8.0, 2.0)

In [ ]:
np.sqrt(data_01.var()), np.sqrt(data_02.var())

(2.8284271247461903, 1.4142135623730951)

In [ ]:
df["키"].var()

33.879102564102595

In [ ]:
df["키"].std()

5.820575793175672

In [ ]:
np.sqrt(df["키"].var())

5.820575793175672

In [ ]:
df["키"].count()

13

---
- 중앙값 : 오름차순으로 정렬한 후 가장 가운데에 있는 값
- 데이터가 짝수 인 경우 중앙의 2개 값의 평균을 쓰거나 둘 중 하나를 임의로 선택
---

In [ ]:
df["키"].median()

177.0

---
- 최빈값 : 가장 빈번하게 등장하는 값
---

In [ ]:
df["키"].mode()

0    178.0
dtype: float64

---
### ▶︎ 피벗 테이블

- 2개의 열을 각각 행 index, 열 index로 하여 또 다른 열의 값들을 보는 기능
- pandas pivot_table 함수의 index 파라미터는 행 index, column 파라미터는 열 index이고 values는 보고자 하는 값이다.
- 값이 중복되는 경우 중복된 값들의 평균을 표시한다. 예를들어 아래의 예에서 빅히트 소속사의 A형인 사람이 2명 이상이라면 A형인 사람의 키의 평균이 표시된다.
- aggfunc 파라미터를 이용하면 중복된 값을 어떻게 처리할지 결정할 수 있다. 주로 numpy의 함수를 이용하며, 예를들어 np.sum을 주면 중복된 값의 합을, np.mean을 주면 중복된 값으 평균을 출력하는 식이다.
---

In [ ]:
pd.pivot_table(df, index="소속사", columns="혈액형", values="키")

혈액형          A     AB      B       O
소속사
RBW      162.1    NaN    NaN     NaN
YG       177.0    NaN    NaN     NaN
빅히트      175.8  178.0    NaN  176.60
스타크루이엔티  167.1    NaN    NaN     NaN
커넥트      180.0    NaN    NaN     NaN
판타지오       NaN    NaN  183.0     NaN
플레디스       NaN  175.0    NaN  179.15

In [ ]:
pd.pivot_table(df, index="그룹", columns="혈액형", values="브랜드평판지수", aggfunc=np.sum)

혈액형             A         AB          B          O
그룹
뉴이스트          NaN  3301654.0        NaN  8263929.0
마마무     7650928.0        NaN        NaN        NaN
방탄소년단  15731595.0  8073501.0        NaN  7495750.0
빅뱅      9916947.0        NaN        NaN        NaN
소녀시대    3918661.0        NaN        NaN        NaN
아스트로          NaN        NaN  3506027.0        NaN
아이들           NaN        NaN  4668615.0        NaN
핫샷      4036489.0        NaN        NaN        NaN

---
### ▶︎ 그룹별 통계 (groupby)
---

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
df.groupby("소속사").count()

         이름  그룹  성별  생년월일  키  혈액형  브랜드평판지수
소속사
RBW       1   1   1     1  1    1        1
SM        1   1   1     1  0    1        1
YG        1   1   1     1  1    1        1
빅히트       5   5   5     5  5    5        5
스타크루이엔티   1   1   1     1  1    1        1
커넥트       1   0   1     1  1    1        1
큐브        1   1   1     1  0    1        1
판타지오      1   1   1     1  1    1        1
플레디스      3   3   3     3  3    3        3

In [ ]:
df.groupby("그룹").mean()

                키       브랜드평판지수
그룹
뉴이스트   177.766667  3.855194e+06
마마무    162.100000  7.650928e+06
방탄소년단  176.560000  6.260169e+06
빅뱅     177.000000  9.916947e+06
소녀시대          NaN  3.918661e+06
아스트로   183.000000  3.506027e+06
아이들           NaN  4.668615e+06
핫샷     167.100000  4.036489e+06

In [ ]:
df.groupby("그룹").count()

       이름  소속사  성별  생년월일  키  혈액형  브랜드평판지수
그룹
뉴이스트    3    3   3     3  3    3        3
마마무     1    1   1     1  1    1        1
방탄소년단   5    5   5     5  5    5        5
빅뱅      1    1   1     1  1    1        1
소녀시대    1    1   1     1  0    1        1
아스트로    1    1   1     1  1    1        1
아이들     1    1   1     1  0    1        1
핫샷      1    1   1     1  1    1        1

In [ ]:
df.groupby("혈액형")["키"].mean()

혈액형
A     172.966667
AB    176.500000
B     183.000000
O     177.875000
Name: 키, dtype: float64

In [ ]:
df.groupby("성별").sum()

         키   브랜드평판지수
성별
남자  2123.2  68599637
여자   162.1  16238204

---
### ▶︎ 복합 인덱스(multi-index)와 인덱스 초기화(reset_index)
---

In [ ]:
df.groupby(["혈액형", "성별"]).mean()

              키     브랜드평판지수
혈액형 성별
A   남자  175.140  7591755.20
    여자  162.100  5784794.50
AB  남자  176.500  5687577.50
B   남자  183.000  3506027.00
    여자      NaN  4668615.00
O   남자  177.875  3939919.75

In [ ]:
df2 = df.groupby(["혈액형", "성별"]).mean()

In [ ]:
df2.unstack("혈액형")

          키                           브랜드평판지수
혈액형       A     AB      B        O          A         AB          B           O
성별
남자   175.14  176.5  183.0  177.875  7591755.2  5687577.5  3506027.0  3939919.75
여자   162.10    NaN    NaN      NaN  5784794.5        NaN  4668615.0         NaN

In [ ]:
df2.unstack("성별")

           키            브랜드평판지수
성별        남자     여자          남자         여자
혈액형
A    175.140  162.1  7591755.20  5784794.5
AB   176.500    NaN  5687577.50        NaN
B    183.000    NaN  3506027.00  4668615.0
O    177.875    NaN  3939919.75        NaN

In [ ]:
df2

              키     브랜드평판지수
혈액형 성별
A   남자  175.140  7591755.20
    여자  162.100  5784794.50
AB  남자  176.500  5687577.50
B   남자  183.000  3506027.00
    여자      NaN  4668615.00
O   남자  177.875  3939919.75

In [ ]:
df3 = df2.reset_index()

In [ ]:
df2

              키     브랜드평판지수
혈액형 성별
A   남자  175.140  7591755.20
    여자  162.100  5784794.50
AB  남자  176.500  5687577.50
B   남자  183.000  3506027.00
    여자      NaN  4668615.00
O   남자  177.875  3939919.75

In [ ]:
df3

  혈액형  성별        키     브랜드평판지수
0   A  남자  175.140  7591755.20
1   A  여자  162.100  5784794.50
2  AB  남자  176.500  5687577.50
3   B  남자  183.000  3506027.00
4   B  여자      NaN  4668615.00
5   O  남자  177.875  3939919.75

---
### ▶︎ 전처리 : 결측값 채우기

- fillna() : na 값을 채워주는 함수. 파라미터에 inplace=True를 해주면 원본을 수정한다.
---

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [ ]:
df["키"]

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [ ]:
df["키"].fillna(-1)

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7      -1.0
8     179.2
9     167.1
10     -1.0
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [ ]:
df2 = df.copy()

In [ ]:
# 키의 결측값을 전체 키의 평균으로 채우고 원본을 수정한다(inplace=True).
height = df2["키"].mean()
df2["키"].fillna(height, inplace=True)
df2

      이름     그룹      소속사  성별        생년월일           키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.600000   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.000000   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.000000   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.000000  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.100000   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.000000   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.300000   O   4989792
7     소연    아이들       큐브  여자  1998-08-26  175.792308   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.200000   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.100000   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09  175.792308   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.000000   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.000000  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.000000   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.000000   O   2925442

---
### ▶︎ 전처리 : 결측값 제거, 중복 제거

- dropna() : na 값을 제거한다. axis=0이면 행을, axis=1이면 열을 drop한다. how='any'면 na값이 하나라도 있으면 제거, how='all'이면 모두 na일 경우에 제거
- drop_duplicates() : 중복 값을 제거한다. keep='first'이면 중복된 값 중 처음 값을 유지, keep='last'이면 중복된 값 중 마지막 값을 유지.
---

In [ ]:
df3 = df.copy()

In [ ]:
df3.dropna()

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [ ]:
df3.dropna(axis=0)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [ ]:
df3.dropna(axis=1)

      이름      소속사  성별        생년월일 혈액형   브랜드평판지수
0     지민      빅히트  남자  1995-10-13   A  10523260
1   지드래곤       YG  남자  1988-08-18   A   9916947
2   강다니엘      커넥트  남자  1996-12-10   A   8273745
3      뷔      빅히트  남자  1995-12-30  AB   8073501
4     화사      RBW  여자  1995-07-23   A   7650928
5     정국      빅히트  남자  1997-09-01   A   5208335
6     민현     플레디스  남자  1995-08-09   O   4989792
7     소연       큐브  여자  1998-08-26   B   4668615
8      진      빅히트  남자  1992-12-04   O   4570308
9    하성운  스타크루이엔티  남자  1994-03-22   A   4036489
10    태연       SM  여자  1989-03-09   A   3918661
11   차은우     판타지오  남자  1997-03-30   B   3506027
12    백호     플레디스  남자  1995-07-21  AB   3301654
13    JR     플레디스  남자  1995-06-08   O   3274137
14    슈가      빅히트  남자  1993-03-09   O   2925442

In [ ]:
df3["키"]

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [ ]:
df3["키"].drop_duplicates()

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
6     182.3
7       NaN
8     179.2
9     167.1
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [ ]:
df3["키"].drop_duplicates(keep='last')

0     173.6
1     177.0
2     180.0
4     162.1
5     178.0
6     182.3
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [ ]:
# 그룹 컬럼에 중복된 값이 있는 경우 중복된 행 전체를 삭제
df3.drop_duplicates('그룹', keep='last')

      이름     그룹      소속사  성별        생년월일      키 혈액형  브랜드평판지수
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A  9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A  8273745
4     화사    마마무      RBW  여자  1995-07-23  162.1   A  7650928
7     소연    아이들       큐브  여자  1998-08-26    NaN   B  4668615
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A  4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A  3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B  3506027
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O  3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O  2925442

---
### ▶︎ 전처리 : 행과 열 제거(drop)

- 파라미터 axis=0이면 행을, axis=1이면 열을 삭제
---

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
df.drop("그룹", axis=1)

      이름      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사      RBW  여자  1995-07-23  162.1   A   7650928
5     정국      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연       큐브  여자  1998-08-26    NaN   B   4668615
8      진      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연       SM  여자  1989-03-09    NaN   A   3918661
11   차은우     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가      빅히트  남자  1993-03-09  174.0   O   2925442

In [ ]:
df.drop(["그룹", "소속사"], axis=1)

      이름  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  남자  1995-10-13  173.6   A  10523260
1   지드래곤  남자  1988-08-18  177.0   A   9916947
2   강다니엘  남자  1996-12-10  180.0   A   8273745
3      뷔  남자  1995-12-30  178.0  AB   8073501
4     화사  여자  1995-07-23  162.1   A   7650928
5     정국  남자  1997-09-01  178.0   A   5208335
6     민현  남자  1995-08-09  182.3   O   4989792
7     소연  여자  1998-08-26    NaN   B   4668615
8      진  남자  1992-12-04  179.2   O   4570308
9    하성운  남자  1994-03-22  167.1   A   4036489
10    태연  여자  1989-03-09    NaN   A   3918661
11   차은우  남자  1997-03-30  183.0   B   3506027
12    백호  남자  1995-07-21  175.0  AB   3301654
13    JR  남자  1995-06-08  176.0   O   3274137
14    슈가  남자  1993-03-09  174.0   O   2925442

In [ ]:
df.drop(3, axis=0)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [ ]:
df.drop([3, 5], axis=0)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

---
### ▶︎ 전처리 : DataFrame 합치기(concat)

- 행 기준으로 합치든 열 기준으로 합치든 두 데이터 프레임의 행이나 열의 숫자가 안맞으면 자동으로 NAN을 채운다.
---

In [ ]:
df2 = pd.read_csv("https://bit.ly/ds-korean-idol-2")
df2.head()

     이름    연봉  가족수
0    지민  3000    3
1  지드래곤  3500    3
2  강다니엘  3200    4
3     뷔  3050    4
4    화사  4300    3

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
df_copy = df.copy()

In [ ]:
df_concat = pd.concat([df, df_copy], sort=False)

In [ ]:
df_concat

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [ ]:
df_concat.reset_index()

    index    이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0       0    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1       1  지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2       2  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3       3     뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4       4    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5       5    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6       6    민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7       7    소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8       8     진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9       9   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10     10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11     11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12     12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13     13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14     14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
15      0    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
16      1  지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
17      2  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
18      3     뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
19      4    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
20      5    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
21      6    민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
22      7    소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
23      8     진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
24      9   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
25     10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
26     11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
27     12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
28     13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
29     14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [ ]:
df_concat.reset_index(drop=True)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
16  지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
17  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
18     뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
19    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
20    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
21    민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
22    소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
23     진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
24   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
25    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
26   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
27    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
28    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
29    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [ ]:
df2

      이름    연봉  가족수
0     지민  3000    3
1   지드래곤  3500    3
2   강다니엘  3200    4
3      뷔  3050    4
4     화사  4300    3
5     정국  2900    5
6     민현  3400    6
7     소연  4500    5
8      진  4200    4
9    하성운  4300    4
10    태연  3700    3
11   차은우  3850    5
12    백호  3900    4
13    JR  4100    3
14    슈가  4150    3

In [ ]:
pd.concat([df, df2], axis=1)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수    이름    연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260    지민  3000    3
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947  지드래곤  3500    3
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  강다니엘  3200    4
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501     뷔  3050    4
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928    화사  4300    3
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335    정국  2900    5
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792    민현  3400    6
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615    소연  4500    5
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308     진  4200    4
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489   하성운  4300    4
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661    태연  3700    3
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027   차은우  3850    5
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654    백호  3900    4
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137    JR  4100    3
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442    슈가  4150    3

In [ ]:
df3 = df2.drop([3, 5], axis=0)
df3

      이름    연봉  가족수
0     지민  3000    3
1   지드래곤  3500    3
2   강다니엘  3200    4
4     화사  4300    3
6     민현  3400    6
7     소연  4500    5
8      진  4200    4
9    하성운  4300    4
10    태연  3700    3
11   차은우  3850    5
12    백호  3900    4
13    JR  4100    3
14    슈가  4150    3

In [ ]:
pd.concat([df, df3], axis=1)

      이름     그룹      소속사  성별        생년월일  ...  혈액형   브랜드평판지수    이름      연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  ...    A  10523260    지민  3000.0  3.0
1   지드래곤     빅뱅       YG  남자  1988-08-18  ...    A   9916947  지드래곤  3500.0  3.0
2   강다니엘    NaN      커넥트  남자  1996-12-10  ...    A   8273745  강다니엘  3200.0  4.0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  ...   AB   8073501   NaN     NaN  NaN
4     화사    마마무      RBW  여자  1995-07-23  ...    A   7650928    화사  4300.0  3.0
5     정국  방탄소년단      빅히트  남자  1997-09-01  ...    A   5208335   NaN     NaN  NaN
6     민현   뉴이스트     플레디스  남자  1995-08-09  ...    O   4989792    민현  3400.0  6.0
7     소연    아이들       큐브  여자  1998-08-26  ...    B   4668615    소연  4500.0  5.0
8      진  방탄소년단      빅히트  남자  1992-12-04  ...    O   4570308     진  4200.0  4.0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  ...    A   4036489   하성운  4300.0  4.0
10    태연   소녀시대       SM  여자  1989-03-09  ...    A   3918661    태연  3700.0  3.0
11   차은우   아스트로     판타지오  남자  1997-03-30  ...    B   3506027   차은우  3850.0  5.0
12    백호   뉴이스트     플레디스  남자  1995-07-21  ...   AB   3301654    백호  3900.0  4.0
13    JR   뉴이스트     플레디스  남자  1995-06-08  ...    O   3274137    JR  4100.0  3.0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  ...    O   2925442    슈가  4150.0  3.0

[15 rows x 11 columns]

---
### ▶︎ 전처리 : DataFrame 병합하기(merge)

- concat은 row나 column 기준으로 단순 합치기
- merge는 특정 고유한 키를 기준으로 합치기
- pd.merge(left, right, on=[기준컬럼], how=[left, right, inner, outer])
- left / right

    . 행이 더 많은 DataFrame이 기준이 되면 병합 후 행이 적은 DataFrame의 행에는 NaN이 들어감

    . 행이 더 적은 DataFrame이 기준이 되면 병합 후 행이 많은 DaraFrame의 남는 행는 Drop됨

- inner : 두 DataFrame에 모두 기 값이 존재하는 경우에만 병합
- outer : 하나의 DataFrame에만 키가 존재해도 병합. 없는 값은 NaN으로 채움
---

In [ ]:
df = pd.read_csv("https://bit.ly/ds-korean-idol")
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
df2 = pd.read_csv("https://bit.ly/ds-korean-idol-2")
df2.head()

     이름    연봉  가족수
0    지민  3000    3
1  지드래곤  3500    3
2  강다니엘  3200    4
3     뷔  3050    4
4    화사  4300    3

In [ ]:
df_right = df2.drop([1, 3, 5, 7, 9], axis=0)
df_right = df_right.reset_index(drop=True)
df_right

     이름    연봉  가족수
0    지민  3000    3
1  강다니엘  3200    4
2    화사  4300    3
3    민현  3400    6
4     진  4200    4
5    태연  3700    3
6   차은우  3850    5
7    백호  3900    4
8    JR  4100    3
9    슈가  4150    3

In [ ]:
pd.merge(df, df_right, on="이름", how="left")

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수      연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260  3000.0  3.0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947     NaN  NaN
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  3200.0  4.0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501     NaN  NaN
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928  4300.0  3.0
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335     NaN  NaN
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792  3400.0  6.0
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615     NaN  NaN
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308  4200.0  4.0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489     NaN  NaN
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661  3700.0  3.0
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027  3850.0  5.0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654  3900.0  4.0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137  4100.0  3.0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442  4150.0  3.0

In [ ]:
pd.merge(df, df_right, on="이름", how="right")

     이름     그룹   소속사  성별        생년월일      키 혈액형   브랜드평판지수    연봉  가족수
0    지민  방탄소년단   빅히트  남자  1995-10-13  173.6   A  10523260  3000    3
1  강다니엘    NaN   커넥트  남자  1996-12-10  180.0   A   8273745  3200    4
2    화사    마마무   RBW  여자  1995-07-23  162.1   A   7650928  4300    3
3    민현   뉴이스트  플레디스  남자  1995-08-09  182.3   O   4989792  3400    6
4     진  방탄소년단   빅히트  남자  1992-12-04  179.2   O   4570308  4200    4
5    태연   소녀시대    SM  여자  1989-03-09    NaN   A   3918661  3700    3
6   차은우   아스트로  판타지오  남자  1997-03-30  183.0   B   3506027  3850    5
7    백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB   3301654  3900    4
8    JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O   3274137  4100    3
9    슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O   2925442  4150    3

In [ ]:
pd.merge(df, df_right, on="이름", how="inner")

     이름     그룹   소속사  성별        생년월일      키 혈액형   브랜드평판지수    연봉  가족수
0    지민  방탄소년단   빅히트  남자  1995-10-13  173.6   A  10523260  3000    3
1  강다니엘    NaN   커넥트  남자  1996-12-10  180.0   A   8273745  3200    4
2    화사    마마무   RBW  여자  1995-07-23  162.1   A   7650928  4300    3
3    민현   뉴이스트  플레디스  남자  1995-08-09  182.3   O   4989792  3400    6
4     진  방탄소년단   빅히트  남자  1992-12-04  179.2   O   4570308  4200    4
5    태연   소녀시대    SM  여자  1989-03-09    NaN   A   3918661  3700    3
6   차은우   아스트로  판타지오  남자  1997-03-30  183.0   B   3506027  3850    5
7    백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB   3301654  3900    4
8    JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O   3274137  4100    3
9    슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O   2925442  4150    3

In [ ]:
pd.merge(df, df_right, on="이름", how="outer")

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수      연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260  3000.0  3.0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947     NaN  NaN
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  3200.0  4.0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501     NaN  NaN
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928  4300.0  3.0
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335     NaN  NaN
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792  3400.0  6.0
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615     NaN  NaN
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308  4200.0  4.0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489     NaN  NaN
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661  3700.0  3.0
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027  3850.0  5.0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654  3900.0  4.0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137  4100.0  3.0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442  4150.0  3.0

In [ ]:
df_right.columns = ["성함", "연봉", "가족수"]
pd.merge(df, df_right, left_on="이름", right_on="성함", how="left")

      이름     그룹      소속사  성별        생년월일  ...  혈액형   브랜드평판지수    성함      연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  ...    A  10523260    지민  3000.0  3.0
1   지드래곤     빅뱅       YG  남자  1988-08-18  ...    A   9916947   NaN     NaN  NaN
2   강다니엘    NaN      커넥트  남자  1996-12-10  ...    A   8273745  강다니엘  3200.0  4.0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  ...   AB   8073501   NaN     NaN  NaN
4     화사    마마무      RBW  여자  1995-07-23  ...    A   7650928    화사  4300.0  3.0
5     정국  방탄소년단      빅히트  남자  1997-09-01  ...    A   5208335   NaN     NaN  NaN
6     민현   뉴이스트     플레디스  남자  1995-08-09  ...    O   4989792    민현  3400.0  6.0
7     소연    아이들       큐브  여자  1998-08-26  ...    B   4668615   NaN     NaN  NaN
8      진  방탄소년단      빅히트  남자  1992-12-04  ...    O   4570308     진  4200.0  4.0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  ...    A   4036489   NaN     NaN  NaN
10    태연   소녀시대       SM  여자  1989-03-09  ...    A   3918661    태연  3700.0  3.0
11   차은우   아스트로     판타지오  남자  1997-03-30  ...    B   3506027   차은우  3850.0  5.0
12    백호   뉴이스트     플레디스  남자  1995-07-21  ...   AB   3301654    백호  3900.0  4.0
13    JR   뉴이스트     플레디스  남자  1995-06-08  ...    O   3274137    JR  4100.0  3.0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  ...    O   2925442    슈가  4150.0  3.0

[15 rows x 11 columns]

---
### ▶︎ 전처리 : Series의 Type 변환하기
---

In [ ]:
df = pd.read_csv("https://bit.ly/ds-korean-idol")
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [ ]:
df["키"].dtypes

dtype('float64')

In [ ]:
df["키"].astype(int)

ValueError: ignored

In [ ]:
df["키"] = df["키"].fillna(-1)
df["키"]

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7      -1.0
8     179.2
9     167.1
10     -1.0
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [ ]:
df["키"].astype(int)

0     173
1     177
2     180
3     178
4     162
5     178
6     182
7      -1
8     179
9     167
10     -1
11    183
12    175
13    176
14    174
Name: 키, dtype: int64

---
### ▶︎ 전처리 : 시간을 다루는 datetime 타입
---

In [ ]:
df["생년월일"]

0     1995-10-13
1     1988-08-18
2     1996-12-10
3     1995-12-30
4     1995-07-23
5     1997-09-01
6     1995-08-09
7     1998-08-26
8     1992-12-04
9     1994-03-22
10    1989-03-09
11    1997-03-30
12    1995-07-21
13    1995-06-08
14    1993-03-09
Name: 생년월일, dtype: object

In [ ]:
df["생년월일"] = pd.to_datetime(df["생년월일"])
df["생년월일"]

0    1995-10-13
1    1988-08-18
2    1996-12-10
3    1995-12-30
4    1995-07-23
5    1997-09-01
6    1995-08-09
7    1998-08-26
8    1992-12-04
9    1994-03-22
10   1989-03-09
11   1997-03-30
12   1995-07-21
13   1995-06-08
14   1993-03-09
Name: 생년월일, dtype: datetime64[ns]

In [ ]:
df["생년월일"].dt

In [ ]:
df["생년월일"].dt.year

0     1995
1     1988
2     1996
3     1995
4     1995
5     1997
6     1995
7     1998
8     1992
9     1994
10    1989
11    1997
12    1995
13    1995
14    1993
Name: 생년월일, dtype: int64

In [ ]:
df["생년월일"].dt.month

0     10
1      8
2     12
3     12
4      7
5      9
6      8
7      8
8     12
9      3
10     3
11     3
12     7
13     6
14     3
Name: 생년월일, dtype: int64

In [ ]:
df["생년월일"].dt.day

0     13
1     18
2     10
3     30
4     23
5      1
6      9
7     26
8      4
9     22
10     9
11    30
12    21
13     8
14     9
Name: 생년월일, dtype: int64

In [ ]:
df["생년월일"].dt.dayofweek

0     4
1     3
2     1
3     5
4     6
5     0
6     2
7     2
8     4
9     1
10    3
11    6
12    4
13    3
14    1
Name: 생년월일, dtype: int64

In [ ]:
df["생년월일"].dt.weekofyear

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """Entry point for launching an IPython kernel.

0     41
1     33
2     50
3     52
4     29
5     36
6     32
7     35
8     49
9     12
10    10
11    13
12    29
13    23
14    10
Name: 생년월일, dtype: int64

In [ ]:
df["생일_년"] = df["생년월일"].dt.year
df["생일_월"] = df["생년월일"].dt.month
df["생일_일"] = df["생년월일"].dt.day
df

      이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수  생일_년  생일_월  생일_일
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260  1995    10    13
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947  1988     8    18
2   강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745  1996    12    10
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501  1995    12    30
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928  1995     7    23
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335  1997     9     1
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792  1995     8     9
7     소연    아이들       큐브  여자 1998-08-26   -1.0   B   4668615  1998     8    26
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308  1992    12     4
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489  1994     3    22
10    태연   소녀시대       SM  여자 1989-03-09   -1.0   A   3918661  1989     3     9
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027  1997     3    30
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654  1995     7    21
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137  1995     6     8
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442  1993     3     9

---
### ▶︎ 전처리 : apply
---

In [ ]:
def male_or_female(x):
    if x == "남자":
        return 1
    elif x == "여자":
        return 0

In [ ]:
df["성별"].apply(male_or_female)

0     1
1     1
2     1
3     1
4     0
5     1
6     1
7     0
8     1
9     1
10    0
11    1
12    1
13    1
14    1
Name: 성별, dtype: int64

In [ ]:
def cm_to_brand(df):
    value = df["브랜드평판지수"] / df["키"]
    return value

In [ ]:
# DataFrame을 대상으로 apply 함수를 사용할 때는 axis 파라미터가 필요하다.
df.apply(cm_to_brand, axis=1)

0     6.061786e+04
1     5.602795e+04
2     4.596525e+04
3     4.535675e+04
4     4.719882e+04
5     2.926031e+04
6     2.737132e+04
7    -4.668615e+06
8     2.550395e+04
9     2.415613e+04
10   -3.918661e+06
11    1.915862e+04
12    1.886659e+04
13    1.860305e+04
14    1.681289e+04
dtype: float64