<a href="https://colab.research.google.com/github/mazdah/colab_practice/blob/main/%ED%8C%A8%EC%8A%A4%ED%8A%B8%EC%BA%A0%ED%8D%BC%EC%8A%A4_%EC%A7%81%EC%9E%A5%EC%9D%B8%EC%9D%84_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
### ▶︎ 통계값
---

In [1]:
import pandas as pd

df = pd.read_csv('./korean-idol.csv')
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [2]:
df.describe()

                키       브랜드평판지수
count   13.000000  1.500000e+01
mean   175.792308  5.655856e+06
std      5.820576  2.539068e+06
min    162.100000  2.925442e+06
25%    174.000000  3.712344e+06
50%    177.000000  4.668615e+06
75%    179.200000  7.862214e+06
max    183.000000  1.052326e+07

In [3]:
df["키"].min()

162.1

In [4]:
df["키"].max()

183.0

In [5]:
df["키"].sum()

2285.3

In [6]:
df["키"].mean()

175.7923076923077

In [7]:
import numpy as np

---
- 분산과 표준편차 : 데이터가 평균으로부터 얼마나 떨어져있는지를 나타내는 지표
- 분산 : (데이터 - 평균) ** 2 를 모두 합한 값의 평균
- 표준편차 : 분산의 루트
- 주로 표준편차를 사용한다.
---

In [8]:
data_01 = np.array([1, 3, 5, 7, 9])
data_02 = np.array([3, 4, 5, 6, 7])

In [9]:
data_01.mean()

5.0

In [10]:
data_02.mean()

5.0

In [11]:
data_01.var(), data_02.var()

(8.0, 2.0)

In [12]:
np.sqrt(data_01.var()), np.sqrt(data_02.var())

(2.8284271247461903, 1.4142135623730951)

In [13]:
df["키"].var()

33.879102564102595

In [14]:
df["키"].std()

5.820575793175672

In [15]:
np.sqrt(df["키"].var())

5.820575793175672

In [16]:
df["키"].count()

13

---
- 중앙값 : 오름차순으로 정렬한 후 가장 가운데에 있는 값
- 데이터가 짝수 인 경우 중앙의 2개 값의 평균을 쓰거나 둘 중 하나를 임의로 선택
---

In [17]:
df["키"].median()

177.0

---
- 최빈값 : 가장 빈번하게 등장하는 값
---

In [18]:
df["키"].mode()

0    178.0
dtype: float64